.download-section {
  margin: auto;
  width: 65%;
/* border: 1px solid red; */
}
.download-container {
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 100%;
  border-radius: 30px;
  /* border: 1px solid red; */
  padding: 40px 60px 0 40px;
  background-color: antiquewhite;
}
.download-content{
  width: 45%;
  margin-left: 20px;
}
.download-content h1 {
  width: 437.73px;
  height: 69px;
  top: 5035.98px;
  left: 189.76px;
  gap: 0px;
  font-family: DM Sans;
  font-size: 48.16px;
  font-weight: 700;
  line-height: 68.8px;
  letter-spacing: 0.01em;
  text-align: left;
}
.download-content p {
  font-family: DM Sans;
  font-size: 20px;
  line-height: 30px;
  font-weight: lighter;
  text-align: left;
  /* border: 1px solid red; */
}
.download-image {
  display: flex;
  gap: 30px;
}
.mobile-image {
  width: 285.89px;
  padding: 0px 0.42px 0px 0.42px;
  gap: 0px;
}
