.trusted-jewellers {
  width: 1111.16px;
  margin: auto;
  height: 430px;
  top: 3802px;
  left: 84px;
  gap: 0px;

  }

  .trusted-jewellers h2 {
    /* styleName: Display/H2(56)/bold; */
font-family: DM Sans;
font-size: 50px;
font-weight: 600;
letter-spacing: 0.01em;
text-align: center;
padding: 0;
margin: 40px 0 0;
/* border: 1px solid red; */
      }

  .trusted-jewellers p {
    /* //styleName: T1(24)/regular; */
font-family: DM Sans;
font-size: 22px;
font-weight: 400;
text-align: center;
margin-bottom: 40px;
      }
  .trusted-jewellers img{
    width: 1111.16px;
height: 255px;
top: 3977px;
left: 84px;
gap: 0px;

  }
  .jeweller-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .jeweller-logos img {
    margin: 10px;
    max-width: 100px;
    height: auto;
  }
